{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
   <meta name="description" content="Profile Update page">
   <title>{{title}}</title>
{% endblock head %}

{% block content %}
   <div class="container">
      <div class="doubling row">
         <div class="ui info message">
            <i class="close icon"></i>
            <div class="header">
               Completa tu perfil
            </div>
            <p>Sólo los campos con * son necesarios. Sin embargo se recomienda no dejar ninguno en blanco.</p>
         </div>
         <form class="ui form segment" id="update_form" enctype="multipart/form-data" method="post" action=""> {% csrf_token %}
            <h3 class="ui dividing header">Acualización de perfil</h3>
            <div class="ui divided middle aligned grid">
               <div class="four wide column">
                  <div class="ui piled segment">
                     <img id="imagePreview" class="ui centered small image" src="{% static "assets/img/image-square.png" %}">
                  </div>
                  <div class="ui five column equal height grid">
                     <div class="column">
                        <div class="ui icon button" onclick="chooseFile();">
                           <i class="big add circle icon"></i>
                        </div>
                        <div style="height:0px;overflow:hidden">
                           {{form.profile_picture}}
                        </div>
                     </div>
                  </div>
               </div>
               <div class="twelve wide column"> 
                  {{form.user_id}}
                  {% if form.errors %}
                     <div class="error">
                        <p><span>ERROR</span></p>
                        <ul>
                           {% for key,value in form.errors %}
                              {% for error in value %}
                                 <li>{{ error }}</li>
                              {% endfor %}
                           {% endfor %}
                        </ul>
                     </div>
                  {% endif %}
                  <div class="three fields">
                     <div class="required field">
                        <label>Nombre de la empresa</label>
                        {{form.org_name}}
                     </div>
                     <div class="required field">
                        <label>Teléfono</label>
                        {{form.phone}}
                     </div>
                     <div class="required field">
                        <label>Tipo dde Cliente</label>
                        {{form.client_type}}
                     </div>
                  </div>
                  <div class="field">
                     <label>Dirección</label>
                     {{form.address}}
                  </div>
                  <div class="three fields">
                     <div class="field">
                        <label>Descripción</label>
                        {{form.description}}
                     </div>
                     <div class="field">
                        <label>Misión</label>
                        {{form.mision}}
                     </div>
                     <div class="field">
                        <label>Vision</label>
                        {{form.vision}}
                     </div>
                     <button type ="submit" class="ui right floated button primary">Guardar</button>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
{% endblock content %}

{% block scripts %}
   <script>
      function chooseFile() {
         document.getElementById("id_profile_picture").click();
      }
      function PreviewImage() {
         var oFReader = new FileReader();
         oFReader.readAsDataURL(document.getElementById("id_profile_picture").files[0]);

         oFReader.onload = function (oFREvent) {
            document.getElementById("imagePreview").src = oFREvent.target.result;
         };
      };
   </script>
{% endblock scripts %}
