<!DOCTYPE html>
<html lang="es">
<head>
   <!-- Standard Meta -->
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
   <meta name="description" content="Login and Register page">
   <meta name="author" content="Ronald Bernal y Antonio Hernández">

   <!-- Site Properities -->
   <title>{{title}}</title>

   {% load staticfiles %}
   <!-- Semantic UI Core CSS -->
   <link rel="stylesheet" type="text/css" href="{% static "assets/css/semantic.css" %}">
   <!-- Custom CSS -->
   <link rel="stylesheet" type="text/css" href="{% static "assets/css/custom/home.css" %}">
   <!-- Custom Fonts -->
   <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Kaushan+Script'>
</head>

<body>
   <!-- navbar begins -->
   <div class="navbar">
      <div class="ui inverted large menu">
         <div class="left menu">
            <a class="brand item">
               <i class="settings icon"></i>Industrial Network
            </a>
            <a href="/profile/" class="active yellow item">
               <img class="ui navbarimg left floated avatar image" src="{% static "assets/img/white-image.png" %}">
               Perfil
            </a>
         </div>
         <div class="right menu">
            <div class="item">
               <div class="ui action left icon input">
                  <i class="search icon"></i>
                  <input type="text" placeholder="Buscar...">
               </div>
            </div>
            <a href="/messages/" class="item">
               <i class="comments outline icon"></i> Mensajes
            </a>
            <a class="blue item">
               <i class="users icon"></i> Contactos
            </a>
            <!-- dropdown begins-->
            <div class="ui dropdown item">
               <i class="left options icon"></i>
               Opciones
               <i class="dropdown icon"></i>
               <div class="menu">
                  <a class="item">Privacidad</a>
                  <a class="item">Pagos</a>
                  <a class="item" href="/logout">Cerrar Sesión</a>
               </div>
            </div>
            <!-- dropdown ends-->
         </div>
      </div>
   </div>
   <!-- navbar ends -->

   <div class="container">
      <div class="ui middle aligned grid">
         <div class="doubling row">
            <div class="three wide column">
               <img class="ui medium bordered image" src="{% static "assets/img/white-image.png" %}">
            </div>
            <div class="thirteen wide column">
               <h3 class="ui top attached center aligned header">Información General</h3>
               <div class="ui attached segment">
                  <div class="ui two column grid">
                     <div class="column">
                        <div class="ui horizontal segment">
                           <div class="info">
                              <h4>
                                 <i class="circle thin icon"></i>Nombre:
                              </h4>
                              <!--{{profile.name}}-->
                              <h4>
                                 <i class="user icon"></i>Contacto: 
                              </h4>
                              {{contact}}
                              <h4>
                                 <i class="call icon"></i>Teléfono: 
                              </h4>
                              <!--{{profile.phone}}-->
                              <h4>
                                 <i class="marker icon"></i>Ubicación: 
                              </h4>
                              <!--{{profile.address}}-->

                           </div>
                        </div>
                     </div>
                     <div class="column">
                        <div class="ui horizontal segment">
                           <h3 class="about ui header center aligned">Acerca de nosotros</h3>
                           <h4 class="about ui header">Descripción:</h4>
                           <!--<p>{{profile.description}}</p>-->
                           <h4 class="ui header">Misión:</h4>
                           <!--<p>{{profile.mision}}</p>-->
                           <h4 class="ui header">Visión:</h4>
                           <!--<p>{{profile.vision}}</p>-->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div id="products" class="ui centered grid">
         <div class="equal height centered row">
            <div class="sixteen wide column">
               <a href="#" id="add_prod" class="ui yellow right ribbon label">
                  <i class="add circle icon"></i>Agregar Producto
               </a>
               <div class="ui four doubling special cards">
                  <div class="ui fluid card">
                     <div class="dimmable image">
                        <div class="ui dimmer">
                           <div class="content">
                              <div class="center">
                                 <a href="/product/1" class="ui inverted yellow button">Ver detalle</a>
                              </div>
                           </div>
                        </div>
                        <img src="{% static "assets/img/image.png" %}">
                     </div>
                     <div class="content">
                        <a class="header" href="/product/1">Product Name</a>
                        <div class="meta">
                           <a class="group">Descripción</a>
                        </div>
                        <div class="justified description">
                           Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.
                        </div>
                     </div>
                     <div class="extra content">
                        <div class="ui two column grid">
                           <div class="left floated middle aligned column">
                              <div class="ui yellow label">
                                 Cant. Min.
                                 <div class="detail">100</div>
                              </div>
                           </div>
                           <div class="right floated column">
                              <div class="ui green tag label">
                                 $10.0
                                 <div class="detail">C/U</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="ui blue bottom attached button">Contactar ahora!</div>
                  </div>
                  <div class="ui fluid card">
                     <div class="dimmable image">
                        <div class="ui dimmer">
                           <div class="content">
                              <div class="center">
                                 <a href="/product/1" class="ui inverted yellow button">Ver detalle</a>
                              </div>
                           </div>
                        </div>
                        <img src="{% static "assets/img/image.png" %}">
                     </div>
                     <div class="content">
                        <a class="header" href="/product/1">Product Name</a>
                        <div class="meta">
                           <a class="group">Descripción</a>
                        </div>
                        <div class="justified description">
                           Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.
                        </div>
                     </div>
                     <div class="extra content">
                        <div class="ui two column grid">
                           <div class="left floated middle aligned column">
                              <div class="ui yellow label">
                                 Cant. Min.
                                 <div class="detail">100</div>
                              </div>
                           </div>
                           <div class="right floated column">
                              <div class="ui green tag label">
                                 $10.0
                                 <div class="detail">C/U</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="ui blue bottom attached button">Contactar ahora!</div>
                  </div>                  
                  <div class="ui fluid card">
                     <div class="dimmable image">
                        <div class="ui dimmer">
                           <div class="content">
                              <div class="center">
                                 <a href="/product/1" class="ui inverted yellow button">Ver detalle</a>
                              </div>
                           </div>
                        </div>
                        <img src="{% static "assets/img/image.png" %}">
                     </div>
                     <div class="content">
                        <a class="header" href="/product/1">Product Name</a>
                        <div class="meta">
                           <a class="group">Descripción</a>
                        </div>
                        <div class="justified description">
                           Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.
                        </div>
                     </div>
                     <div class="extra content">
                        <div class="ui two column grid">
                           <div class="left floated middle aligned column">
                              <div class="ui yellow label">
                                 Cant. Min.
                                 <div class="detail">100</div>
                              </div>
                           </div>
                           <div class="right floated column">
                              <div class="ui green tag label">
                                 $10.0
                                 <div class="detail">C/U</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="ui blue bottom attached button">Contactar ahora!</div>
                  </div>                  
                  <div class="ui fluid card">
                     <div class="dimmable image">
                        <div class="ui dimmer">
                           <div class="content">
                              <div class="center">
                                 <a href="/product/1" class="ui inverted yellow button">Ver detalle</a>
                              </div>
                           </div>
                        </div>
                        <img src="{% static "assets/img/image.png" %}">
                     </div>
                     <div class="content">
                        <a class="header" href="/product/1">Product Name</a>
                        <div class="meta">
                           <a class="group">Descripción</a>
                        </div>
                        <div class="justified description">
                           Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.
                        </div>
                     </div>
                     <div class="extra content">
                        <div class="ui two column grid">
                           <div class="left floated middle aligned column">
                              <div class="ui yellow label">
                                 Cant. Min.
                                 <div class="detail">100</div>
                              </div>
                           </div>
                           <div class="right floated column">
                              <div class="ui green tag label">
                                 $10.0
                                 <div class="detail">C/U</div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="ui blue bottom attached button">Contactar ahora!</div>
                  </div>                     
               </div>
            </div>
         </div>
      </div>
   </div>
   
   <div class="ui modal">
      <i class="close icon"></i>
      
      <div class="header">
         Registro de Producto
      </div>
      <div class="content">
         
         <div class="ui divided middle aligned grid">
            <div class="six wide column">
               <div class="ui piled segment">
                  <img class="ui centered small image" src="{% static "assets/img/image-square.png" %}">
               </div>
               <div class="ui five column equal height grid">
                  <div class="column">
                     <i class="big bordered add circle icon link icon"></i>
                  </div>
               </div>
            </div>
            <div class="ten wide column">
               {% block content %}
                  <form class="ui form" id="product_form" method="post" action="/profile/1">
                     {% csrf_token %}
                     <h4 class="ui dividing header">Información del producto</h4>
                     <div class="form-segment">
                        <div class="required field">
                           <label>Nombre del producto</label>
                           <div class="ui icon input">
                              {{form.name}}
                              <i class="write icon"></i>
                           </div>
                        </div>
                     </div>
                     <div class="form-segment">
                        <div class="required field">
                           <label>Descripción del producto</label>
                           <div class="ui icon input">
                              {{form.description}}
                              <i class="write icon"></i>
                           </div>
                        </div>
                     </div>
                     <div class="two fields">
                        <div class="form-segment">
                           <div class="required field">
                              <label>Cantidad Mínima de venta</label>
                              <div class="ui icon input">
                                 {{form.minimum_sale}}
                                 <i class="tag icon"></i>
                              </div>
                           </div>
                        </div>
                        <div class="form-segment">
                           <div class="required field">
                              <label>Precio por unidad</label>
                              <div class="ui icon input">
                                 {{form.unit_price}}
                                 <i class="dollar icon"></i>
                              </div>
                           </div>
                        </div>
                     </div>
                  </form>
               {% endblock %}
            </div>
         </div>
      </div>
      <div class="actions">
         <div class="ui red button">
            Cancelar
         </div>
         <button class="ui positive right labeled icon button" onclick="document.getElementById('product_form').submit(); return false;">
            Agregar producto
            <i class="checkmark icon"></i>
         </button>
      </div>
   </div>

   <div class="ui footer divider"></div>
   <footer>
        <div class="container">
            <div class="ui two column grid">
               <div class="left floated column">
                  <span class="copyright">Marca Registrada &reg; 2015</span>
               </div>
               <div class="right floated right aligned column">
                  <div class="ui horizontal link list">
                     <a class="item" href="#">Política de Privacidad</a>
                     <a class="item" href="#">Términos de uso</a>
                  </div>
               </div>
            </div>
        </div>
    </footer>

   <script type="text/javascript" src="{% static "assets/js/jquery.js" %}"></script>

   <!-- Used with Tab History !-->
   <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js"></script>
   <script type="text/javascript" src="{% static "assets/js/semantic.js" %}"></script>
   <script type="text/javascript" src="{% static "assets/js/custom.js" %}"></script>

</body>
</html>
