{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
   <meta name="description" content="Profile user page">
   <title>{{title}}</title>
{% endblock head %}

{% block content %}
   <div class="container">
      <div class="ui middle aligned grid">
         <div class="doubling row">
            <div class="three wide column">
               <div class="ui fluid piled segment">
                  <img class="ui medium bordered image" src="{{MEDIA_URL}}{{profile_picture}}">
               </div>
            </div>
            <div class="thirteen wide column">
               <h3 class="ui top attached center aligned header">Información General</h3>
               <div class="ui attached segment">
                  <div class="ui two column grid">
                     <div class="column">
                        <div class="ui horizontal segment">
                           <div class="info">
                              <h4>
                                 <i class="circle thin icon"></i>Nombre:
                              </h4>
                              {{org_name}}
                              <h4>
                                 <i class="user icon"></i>Contacto: 
                              </h4>
                              {{contact}}
                              <h4>
                                 <i class="call icon"></i>Teléfono: 
                              </h4>
                              {{phone}}
                              <h4>
                                 <i class="marker icon"></i>Ubicación: 
                              </h4>
                              {{address}}

                           </div>
                        </div>
                     </div>
                     <div class="column">
                        <div class="ui horizontal segment">
                           <h3 class="about ui header center aligned">Acerca de nosotros</h3>
                           <div class="info">
                              <h4 class="about ui header">Descripción:</h4>
                              {{description}}
                              <h4 class="ui header">Misión:</h4>
                              {{mision}}
                              <h4 class="ui header">Visión:</h4>
                              {{vision}}
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="products" class="ui centered grid">
         <div class="equal height centered row">
            <div class="centered column">
               <a id="add_prod" class="ui yellow right ribbon label">
                  <i class="add circle icon"></i>Agregar Producto
               </a>
               <div class="ui four doubling special cards">
                  {% for prod in products %}
                     <div class="ui fluid card">
                        <div class="dimmable image">
                           <div class="ui dimmer">
                              <div class="content">
                                 <div class="center">
                                    <a href="/product/{{prod.id}}" class="ui inverted yellow button">Ver detalle</a>
                                 </div>
                              </div>
                           </div>
                           <img src="{{MEDIA_URL}}{{prod.image}}">
                        </div>
                        <div class="content">
                           <a class="header" href="/product/{{prod.id}}">{{prod.name}}</a>
                           <div class="meta">
                              <a class="group">Descripción</a>
                           </div>
                           <div class="justified description">
                              {{prod.description}}
                           </div>
                        </div>
                        <div class="extra content">
                           <div class="ui two column grid">
                              <div class="left floated middle aligned column">
                                 <div class="ui yellow label">
                                    Cant. Min.
                                    <div class="detail">{{prod.minimum_sale}}</div>
                                 </div>
                              </div>
                              <div class="right floated column">
                                 <div class="ui green tag label">
                                    $ {{prod.unit_price}}
                                    <div class="detail">C/U</div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="ui blue bottom attached button">Contactar ahora!</div>
                     </div> 
                  {% empty %}
                     <div class="ui warning message">
                        <i class="close icon"></i>
                        <div class="header">
                           No hay productos registrados
                        </div>
                        <p>No tienes productos registrados. Registra tus productos para mostrarlos en tu perfil.</p>
                     </div>
                  {% endfor %}               
               </div>
            </div>
         </div>
      </div>
   </div>
   
   <div class="ui modal">
      <i class="close icon"></i>
      
      <div class="header">
         Registro de Producto
      </div>
      <div class="content">
         <form class="ui form" id="product_form" enctype="multipart/form-data" method="post" action="/profile/">{% csrf_token %}
            <div class="ui divided middle aligned grid">
               <div class="six wide column">
                  <div class="ui piled segment">
                     <img id="imagePreview" class="ui centered small image" src="{% static "assets/img/image-square.png" %}">
                  </div>
                  <div class="ui five column equal height grid">
                     <div class="column">
                        <div class="ui icon button" onclick="chooseFile();">
                           <i class="big add circle icon"></i>
                        </div>
                        <div style="height:0px;overflow:hidden">
                           {{form.image}}
                        </div>
                     </div>
                  </div>
               </div>
               <div class="ten wide column">
                  <h4 class="ui dividing header">Información del producto</h4>
                  <div class="required field">
                     <label>Nombre del producto</label>
                     <div class="ui icon input">
                        {{form.name}}
                        <i class="write icon"></i>
                     </div>
                  </div>
                  <div class="required field">
                     <label>Descripción del producto</label>
                     <div class="ui icon input">
                        {{form.description}}
                        <i class="write icon"></i>
                     </div>
                  </div>
                  <div class="two fields">
                     <div class="required field">
                        <label>Cantidad Mínima de venta</label>
                        <div class="ui icon input">
                           {{form.minimum_sale}}
                           <i class="tag icon"></i>
                        </div>
                     </div>
                     <div class="required field">
                        <label>Precio por unidad</label>
                        <div class="ui icon input">
                           {{form.unit_price}}
                           <i class="dollar icon"></i>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </form>
      </div>
      <div class="actions">
         <div class="ui red button">
            Cancelar
         </div>
         <button class="ui positive right labeled icon button" 
               onclick="document.getElementById('product_form').submit(); return false;">
            Agregar producto
            <i class="checkmark icon"></i>
         </button>
      </div>
   </div>
{% endblock content %}

{% block scripts %}
   <script>
      function chooseFile() {
         document.getElementById("id_image").click();
      }
      function PreviewImage() {
         var oFReader = new FileReader();
         oFReader.readAsDataURL(document.getElementById("id_image").files[0]);

         oFReader.onload = function (oFREvent) {
            document.getElementById("imagePreview").src = oFREvent.target.result;
         };
      };
   </script>
{% endblock scripts %}
